body {
  background-color: #f6b319;
}
#header-nav {
  border-radius: 0;
  background-color: red;
}
.navbar-brand h1{  /*Restaurant name*/ 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  text-align: left;
}
#nav-list a {
  color: #951c49;
  text-align: center;
  background-color: yellow;
}
#nav-list a:hover {
  background: #e7e7e7;
}
.container p {
  height: 1000px;
}